body{
    background-color:rgb(96, 219, 219);
}
.container{
    font-size:25px;
    margin: 50px;
    border: 1px;
    padding: 1px;
}
.row{
   text-align: justify; 
}
.male{
    font-style: oblique;
    padding: 5px;;
}
.male-body{
     margin-top: 0px;
    border: 1px;  
}
.female{
    font-style: oblique;
}
.female-body{
    margin: 5px;
    border: 1px;
    margin-top: 1px;  
}
.akan-names{
    display: flex;
    }
footer{
    margin-top: 30px;
    background: black;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
 border: 2px solid black;   
}
footer a{
    text-decoration: none;
    color: white;
}
footer:hover{
    background: none;
}
footer a:hover{
    color: white;
}
form div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
}
.submit{
    width: 20%;
}
button{
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    margin-top: 10px;
    color: whitesmoke;
}
