*{
    color: white;
}
body{
    background: url("https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbG9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.container{
    font-size:25px;
    border: 1px;
    padding: 1px;
    width: 80%;
}
.row{
   text-align: justify; 
}
.male{
    font-style: oblique;
    padding: 5px;;
}
.male-body{
     margin-top: 0px;
    border: 1px;  
}
.female{
    font-style: oblique;
}
.female-body{
    margin: 5px;
    border: 1px;
    margin-top: 1px;  
}
.akan-names{
    display: flex;
    justify-content: space-around;
    }
footer{
    margin-top: 30px;
    background: darkred;
    
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
 border: 2px solid darkred;   
}
footer a{
    text-decoration: none;
    color: white;
}
footer:hover{
    background: none;
}
footer a:hover{
    color: darkred;
}
form div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
}
.submit{
    width: 20%;
    float: left;
}
button{
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    margin-top: 10px;
    color: whitesmoke;
}
h1{
    color: crimson;
    text-align: center;
    border-bottom: 2px solid crimson;
    padding-bottom: 10px;  
}
.intro strong{
    color: darkred;
}
.intro{
    margin-top: 5px;

}
